li{margin-left: 100px;}

.navbar{position:relative;background-color: blue!important;}

.nav-link {color: #FFFFFF;}

h1{text-align:center;font-weight:bold;}

p{text-align:justify;}

img{margin-left: 60px;}

footer{margin-left: 100px;}

.top{float: right;margin-right: 50px;}

.col-lg-3 h2{text-align: center;}
